@import '../../styles/colors';
@import '../../styles//reset';
@import '../../styles/variables';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    margin-bottom: 1.75rem;
    position: relative;
    transition: border 0.2s ease-in-out;
    .logo {
        cursor: pointer;
    }
    div {
        display: flex;
        align-items: center;
        gap: 1.75rem;
        width: calc(100% / 3);
        &:last-child {
            justify-content: flex-end;
        }
    }

    a {
        transition: transform 0.2s ease-in-out;
        padding-bottom: 3px;
        &:hover {
            transform: translateY(-2px);
        }
    }

    .mode {
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        left: 0;
        bottom: -30px;
    }

    @media screen and (max-width: $phone) {
        padding: 0.8rem 0;
        margin-bottom: 1.75rem;
        .mode {
            bottom: -24px;
        }
    }
}

.light {
    border-bottom: 0.25px solid $border-color;

    a {
        color: $text-color;
    }
    h1 {
        color: $text-color;
    }

    .mode {
        color: $text-color;
    }
}
.dark {
    border-bottom: 0.25px solid $border-color-dark;

    a {
        color: $text-color-dark;
    }
    h1 {
        color: $text-color-dark;
    }

    .mode {
        color: $text-color-dark;
    }
}
