$main-color: #e48e1d;


$text-color: #333333;
$background: white;
$border-color: #aaaaaa;
$placeholder-color: #aaaaaa;
$field-color: #f4f4f4;

$text-color-dark: white;
$background-dark: #151515;
$border-color-dark: #e8e8e8;
$placeholder-color-dark: #e8e8e8;
$field-color-dark: #333333;




