@import "../../styles//colors";
@import "../../styles//reset";

.form {
    width: clamp(20rem, 50%, 30rem);
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    @include boxshadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    transition: background 0.2s ease-in-out;

    .message {
        color: rgb(243, 17, 17);
        font-weight: 600;
        display: inline-block;
    }

    button {
        background-color: $main-color;
        border: none;
        color: white;
        height: 2.5rem;
        font-size: 1rem;
        border-radius: 4px;
        font-weight: 500;
        margin-top: 10px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    }

    a {
        color: $main-color;
    }
    p {
        font-size: 0.85rem;
        transition: color 0.2s ease-in-out;
    }
    h1 {
        color: $main-color;
        text-align: center;
    }
}

.light {
    background-color: $background;
    p {
        color: $text-color;
    }
}

.dark {
    background-color: $background-dark;
    p {
        color: $text-color-dark;
    }
}
