@import '../../styles//colors';
@import '../../styles/variables';

.form {
    width: clamp(25rem, 60%, 34rem);
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    transition: background 0.2s ease-in-out;
    .message {
        color: rgb(243, 17, 17);
        font-weight: 600;
        display: inline-block;
    }

    a {
        text-decoration: underline;
    }
    p {
        font-size: 0.85rem;
        transition: color 0.2s ease-in-out;
        text-align: center;
    }
    h1 {
        text-align: center;
    }

    @media screen and (max-width: $tablet) {
        width: clamp(25rem, 80%, 34rem);
    }

    @media screen and (max-width: $phone) {
        gap: 30px;
        margin-top: 80px;
        width: 100%;
        padding: 25px;
    }
}

.light {
    background-color: $background;
    border: 0.25px solid $border-color;

    h1 {
        color: $text-color;
    }
    p {
        color: $text-color;
    }
    a {
        color: $text-color;
    }
}

.dark {
    background-color: $component-color;
    border: none;

    h1 {
        color: $text-color-dark;
    }
    p {
        color: $text-color-dark;
    }
    a {
        color: $text-color-dark;
    }
}
