@import "../../styles/colors";

.container {
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    transition: background 0.2s ease-in-out;
    h1 {
        transition: color 0.2s ease-in-out;
        margin: 0;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 18px;

        p {
            padding-bottom: 6px;
            border-bottom: 0.25px solid $text-color;
        }
    }

}

.light {
    background-color: $background;
    border: 0.25px solid $border-color;
    h1{
        color: $text-color;
    }
    p {
        padding-bottom: 2px;
        border-bottom: 0.25px solid $text-color;
    }
}
.dark {
    background-color: $component-color;
    border: 0.25px solid $background-dark;
    h1{
        color: $text-color-dark;
    }
    p {
        padding-bottom: 2px;
        color: $text-color-dark;
        border-bottom: 0.25px solid $text-color-dark;
    }
}
