@import "../../../styles/colors";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    .towFlex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:first-child {
            width: 50%;
        }
        &:nth-child(2) {
            width: 50%;
        }
    }
}
